@import url("https://fonts.googleapis.com/css?family=Oswald");

* {
	box-sizing: border-box;
}

body {
	font-family: "Oswald", sans-serif;
	text-align: center;
	overflow: hidden;
	margin: 0;
}

h3 {
	margin-bottom: 0;
	text-align: center;
}

small {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.fa-heart {
	color: red;
}

.loveMe {
	height: 440px;
	width: 300px;
	background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c83c004e-1370-4756-88e5-4071de797088/dft4ktv-b678a9ff-8707-4e2f-a9d6-7a7f82cddf45.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M4M2MwMDRlLTEzNzAtNDc1Ni04OGU1LTQwNzFkZTc5NzA4OFwvZGZ0NGt0di1iNjc4YTlmZi04NzA3LTRlMmYtYTlkNi03YTdmODJjZGRmNDUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.B45VJCR_zprWw-QFu-aOs4wzZOe6e6loQ97kAAQ702E")
		no-repeat center center/cover;
	margin: auto;
	cursor: pointer;
	max-width: 100%;
	position: relative;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	overflow: hidden;
}

.loveMe .fa-heart {
	position: absolute;
	animation: grow 0.6s linear;
	transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
	to {
		transform: translate(-50%, -50%) scale(10);
		opacity: 0;
	}
}
